.pet-page{
  font-size: 1.2rem;
  margin-top: 8vh;
  display: flex;
  align-items: center;
  box-shadow: 10px 20px 35px rgba(19, 0, 0, 0.2);
  img{
    width:750px;
    height: 650px; 
  }
  .image-page{
    //background-color: rgba(130, 161, 131, 0.082); 
    text-align: center; 
   
    padding: 3rem;
    margin-left: 4rem;
    p{
      background-color: rgba(244, 247, 238, 0.8);
      font-size: 1.1rem;
      padding: 5rem;
      
    }
  } 
  .petCard-info{
  display: flex;
  flex-direction: column;
  padding: 5%;
  text-align: center;
 // margin-left: 1rem;
  p{
   line-height: 1.6;
   }
   
  .mata{
  text-decoration:overline;
  color:rgb(239, 5, 5); 
  }

   button{
    margin: 25px 45px;
    padding: 12px 35px;
    }
   } 
  }
 