.pet-card{
   
    
   
    ul{
        display: grid;
        grid-template-columns: auto auto auto ;
        list-style: none;
        gap:2.5rem;

    .card{
        box-shadow: 10px 20px 35px rgba(19, 0, 0, 0.2);
         text-align: center;
         //background-color:#c8d181;
         padding: 0.5rem;
         border-radius: 10px;
        
        &:hover{
            box-shadow: 10px 20px 35px rgba(18, 0, 0, 0.3);
            transform: translateY(-15px);
           
        }
        .mata{
            text-decoration:overline;
            color:rgb(225, 149, 7);
        }

        button{
            padding:10px 30px;
            background-color: red;
            color:#222422;
            border: 0;
            box-shadow: 1px 3px 5px rgb(133, 123, 123);
        }
        .pet-image{
            width: 230px;
            height: 200px;
            object-fit: contain;
           
        }  
        }
       
    }
   
}